@{
    ViewData["Title"] = "Shop";
    bool isAuthenticated = Context.User.Identity?.IsAuthenticated ?? false;
}

<div class="shop-logo"></div>

@if (isAuthenticated)
{
    <a asp-action="Admin">Робоче місце менеджера</a>
}
